<div class="calc-recipe-x-controls">
  <label>
    Concentration:
    <select class="calc-factor">
      <option value="1" selected>1×</option>
      <option value="2">2×</option>
      <option value="4">4×</option>
      <option value="5">5×</option>
      <option value="10">10×</option>
    </select>
  </label>

  <label>
    Final Volume:
    <select class="calc-volume">
      <option value="2">2 L</option>
      <option value="1" selected>1 L</option>
      <option value="0.5">500 mL</option>
      <option value="0.1">100 mL</option>
      <option value="0.02">20 mL</option>
      <option value="0.01">10 mL</option>
      <option value="0.005">5 mL</option>
    </select>
  </label>
</div>