<div class="calc-recipe-mol-controls">
  <label>
    Concentration:
    <select class="calc-molarity">
      <option value="10">10 M</option>
      <option value="1" selected>1 M</option>
      <option value="0.75">750 mM</option>
      <option value="0.5">500 mM</option>
      <option value="0.375">375 mM</option>
      <option value="0.25">250 mM</option>
      <option value="0.1">100 mM</option>
    </select>
  </label>

  <label>
    Final Volume:
    <select class="calc-volume">
      <option value="2">2 L</option>
      <option value="1" selected>1 L</option>
      <option value="0.5">500 mL</option>
      <option value="0.1">100 mL</option>
      <option value="0.02">20 mL</option>
      <option value="0.01">10 mL</option>
      <option value="0.005">5 mL</option>
    </select>
  </label>
</div>